body {
    background-color: rgb(252, 189, 73);
}

h1 {
    color: red;
}

a {
    text-decoration: none;
}

.shopping-list {
    font-weight: bold;
    color: green;
}

ol {
    font-weight: bold;
    color: green;
}

.pasta-image{
    height: auto;
    width: 180 ;
}